.block {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 702px;
  height: 570px;
}
.block .col1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 12px;
  background-color: #ffffff;
  width: 342px;
  height: 570px;
  overflow: hidden;
}
.block .bgWrap {
  display: flex;
  position: relative;
  width: 342px;
  height: 342px;
}
.block .layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 342px;
  height: 342px;
  overflow: hidden;
}
.block .bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 342px;
  height: 342px;
}
.block .title {
  margin-top: 21px;
  margin-left: 24px;
  max-width: 306px;
  height: 37px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
  font-size: 26px;
  font-weight: 400;
  lines: 1;
  line-height: 37px;
}
.block .title_2 {
  margin-left: 24px;
  max-width: 306px;
  height: 37px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
  font-size: 26px;
  font-weight: 400;
  lines: 1;
  line-height: 37px;
}
.block .priceWrap {
  display: flex;
  flex-direction: row;
  margin-top: 74px;
}
.block .rmb {
  margin-top: 5px;
  margin-left: 24px;
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  color: #ff5000;
  font-size: 22px;
  font-weight: 400;
  lines: 1;
}
.block .price {
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  color: #ff5000;
  font-size: 32px;
  font-weight: 400;
  lines: 1;
}
.block .humanPayment {
  margin-top: 4px;
  margin-left: 11px;
  height: 26px;
  line-height: 26px;
  white-space: nowrap;
  color: #999999;
  font-size: 22px;
  font-weight: 400;
  lines: 1;
}
.block .col2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 12px;
  background-color: #ffffff;
  width: 342px;
  height: 570px;
  overflow: hidden;
}
.block .backgroundWrap {
  display: flex;
  position: relative;
  width: 342px;
  height: 342px;
}
.block .background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 342px;
  height: 342px;
  overflow: hidden;
}
.block .bgWrap_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 342px;
  height: 342px;
}
.block .layer_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 342px;
  height: 342px;
}
.block .bg_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 342px;
  height: 342px;
}
.block .titleWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 21px;
  width: 341px;
}
.block .title_3 {
  max-width: 329px;
  height: 37px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 37px;
  white-space: nowrap;
  color: #333333;
  font-size: 26px;
  font-weight: 400;
  lines: 1;
}
.block .moneyWrap {
  display: flex;
  flex-direction: row;
  margin-top: 111px;
}
.block .rmb_2 {
  margin-top: 5px;
  margin-left: 20px;
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  color: #ff5000;
  font-size: 22px;
  font-weight: 400;
  lines: 1;
}
.block .money {
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  color: #ff5000;
  font-size: 32px;
  font-weight: 400;
  lines: 1;
}
.block .humanPayment_2 {
  margin-top: 4px;
  margin-left: 11px;
  max-width: 229px;
  height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999999;
  font-size: 22px;
  font-weight: 400;
  lines: 1;
  line-height: 26px;
}